@model IT_Forum.Models.ViewModel.PostViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<style>
    button{
        background-color: white;
        border: 0;
    }
</style>

<div class="row">
    <h1 class="col-9 text-center">@Model.Title</h1>
    <div class="col-3 align-items-end">
        <div class="row">
            @if (@Model.IsHaveAccessToUpdate)
            {
                <div class="col-4">
                    <form method="GET" action="@Url.Action("Update", "Article", new {id = @Model.Id})">
                        <button type="submit">
                            <i class="fa fa-edit" id="update"></i>
                        </button>
                    </form>
                </div>
                
                <div class="col-4">
                    <form method="POST" action="@Url.Action("Delete", "Article", new {id = @Model.Id})">
                    <button type="submit">
                        <i class="fa fa-trash" id="update"></i>
                    </button>
                </form>
                </div>
            }
            
            @if (@User.Identity is {IsAuthenticated: true })
            {
                <div class="col-4">
                    <button id="like">
                        <i class="fa fa-heart" id="heart"></i>
                    </button>
                </div>
            }

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @Model.Context
    </div>
</div>

<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
        @using (Html.BeginForm("Comment", "Comment"))
        {
            @Html.Hidden("postId", @Model.Id)
            @Html.TextArea("content", "", new {@class="w-100", @style="height: 100px"})
            <div class="w-100 text-center">
                <button class="btn btn-light border-dark text-center" type="submit">Comment</button>
            </div>
        }
    </div>
    <div class="col-2"></div>
</div>

<div class="container mt-5">
    <h2 class="text-center"> Comments </h2>
    @foreach (var comment in Model.Comments)
    {
        <div class="w-100 p-3 my-3" style="border: 1px solid black">
            <div class="row">@comment.Context</div>
            <div class="row">(@comment.User?.Email on 25.05.2022)</div>
        </div>
    }
</div>


<script>
    let heart = document.getElementById("heart");
    if (@Json.Serialize(Model.IsLiked)){
        heart.classList.toggle('red');
    }
    let like = document.getElementById("like");
    if (!heart.classList.contains("red")){
        like.onclick = function (){
            location.href = '@Url.Action("Like", "Like", new {postId = @Model.Id})';
        }
    }
    else{
        like.onclick = function (){
           location.href = '@Url.Action("Dislike", "Like", new {postId = @Model.Id})';
        }
    }
</script>