@model IT_Forum.Models.ViewModel.PostViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<h1 class="text-center">@Model.Title</h1>

<div>
    @Model.Context
</div>

<div class="row">
    <button id="like">
        <i class="fa fa-heart" id="heart"></i>
    </button>
</div>

<script>
    let heart = document.getElementById("heart");
    if (@Json.Serialize(Model.IsLiked)){
        heart.classList.toggle('red');
    }
    let like = document.getElementById("like");
    if (!heart.classList.contains("red")){
        like.onclick = function (){
            location.href = '@Url.Action("Like", "Like")';
        }
    }
    else{
        like.onclick = function (){
           location.href = '@Url.Action("Dislike", "Like")';
        }
    }
        
</script>